<?xml version="1.0"?>
<launch>
    <arg name="ip" default="192.168.0.4" />
    <arg name="port" default="5001" />
    <arg name="rate" default="250" />
    <arg name="sensor_frame_id" default="/sensor" />
    <arg name="topic" default="/force" />
    <arg name="frequency_div" default="2" />

    <node
        name="VirtualPortRedirection" pkg="dynpick_driver" type="socat_script.sh"
        args="$(arg ip) $(arg port) /tmp/YPort"
        output="screen"/>

    <include file="$(find dynpick_driver)/launch/driver.launch">
        <arg name="device" value="/tmp/YPort" />
        <arg name="topic" value="$(arg topic)" />
        <arg name="rate" value="$(arg rate)" />
        <arg name="sensor_frame_id" value="$(arg sensor_frame_id)" />
        <arg name="frequency_div" value="$(arg frequency_div)" />

    </include>
</launch>
